* {
    padding:0;
    margin:0;
  }
  
  .App {
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(221, 236, 241);
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }